{% extends 'app/base.html' %}

{% block contenido %}
{% load crispy_forms_tags%}
<div class="container">
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-12 col-md-6 content m-0 mt-2 mb-2 pt-2 pb-2" >
            <form class="p-0" method="POST">
                {% csrf_token %}
                <h2 class="text-center">Crear Tarea</h2>
                <hr>
                {{tarea | crispy}}
                <input class="btn btn-primary mb-2" type="submit" value="Crear Tarea">
                <hr>
                
            </form>
        </div>
        <div class=" col-md-3">

        </div>
        
    </div>
    
</div>



{% endblock %}