{% extends 'app/base.html' %}

{% block contenido %}

<div class="container">
    <div class="row">
        <div class="col-12 table-responsive" >
            <a href="{% url 'crearusuario'%}" class="btn btn-primary mt-2"><i class="fas fa-plus-square"></i> Crear Empleado</a>
            <table  class="table table-hover table-striped mt-2">
                <thead>
                    <tr>
                        <th scope="col" class="fw-bold">Rut</th>
                        <th scope="col" class="fw-bold">Nombres</th>
                        <th scope="col" class="fw-bold">Apellidos</th>
                        <th scope="col" class="fw-bold">Correo</th>
                        <th scope="col" class="fw-bold">Usuario</th>
                        <!-- <th scope="col" class="fw-bold">Contraseña</th> -->
                        <th scope="col" class="fw-bold">Activo</th>
                        <th scope="col" class="fw-bold">Cargo</th>
                        <th scope="col" class="fw-bold">Empresa</th>
                        <th scope="col" class="fw-bold">Unidad</th>
                        <th scope="col" class="fw-bold">Opciones</th>
                    </tr>
                </thead>
                    
                
                
                {% for display in entity%}
                <tr>
                    
                    <td>{{display.0}}</td>
                    <td>{{display.1}}</td>
                    <td>{{display.2}}</td>
                    <td>{{display.3}}</td>
                    <td>{{display.4}}</td>
                    <!-- <td>{{display.5}}</td> -->
                    <td>
                        {% if display.6 == 1 %}
                        Si
                        {% else %}
                        No
                        {% endif %}
                    </td>
                    <td>
                        {% if display.7 == 1 %}
                        Funcionario
                        {% else %}
                        Diseñador
                        {% endif %}
                    </td>
                    <td>{{display.8}}</td>
                    <td>{{display.9}}</td>
                    <td>
                        {% if display.6 == 1 %}
                        <a href="{% url 'modificarusuario' display.0 %}" class="btn btn-info btn-sm"><i class="fas fa-edit"></i></a>
                        <a href="{% url 'finalizarempleado' display.0 %}" class="btn btn-danger btn-sm"><i class="fas fa-minus-square"></i></a>
                        {% else%}
                        <a href="{% url 'listarusuario' %}" class="btn btn-info btn-sm "><i class="fas fa-edit"></i></a>
                        <a href="{% url 'listarusuario'%}" class="btn btn-danger btn-sm "><i class="fas fa-minus-square"></i></a>
                        {% endif %}
                    </td>
                    
                </tr>
                {% endfor %}
            </table>
            
            <div>
                {% include 'app/paginator.html'%}
            </div>
        </div>
    
        
    </div>
    
</div>



{% endblock %}
